.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navigation__link {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.navigation__link_favourites-movies {
  font-weight: 400;
}

.navigation__link_account {
  margin: 0 0 0 30px;
  padding: 8px 20px;
  line-height: 16px;
  background: #f9f9f9;
  border-radius: 20px;
}
