.about-project {
  margin: 0;
  padding: 110px 70px;
}

.about-project__info {
  margin: 0;
  padding: 70px 0 110px;
  display: grid;
  column-gap: 40px;
  row-gap: 26px;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
}

.about-project__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000;
}

.about-project__plan {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: repeat(2, 36px);
  align-items: center;
  box-sizing: border-box;
}

.about-project__plan-subtitle {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
}

.about-project__plan-subtitle_done {
  background-color: #2be080;
}

.about-project__plan-text {
  margin: 0;
  padding: 0;
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}
